<h1>Burgers Eaten</h1>

<main>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        {{#each burgers}}
          {{#unless this.devoured}}


      </div>
      
      <form action = "/burgers/{{this.id}}?_method = PUT" method = "POST">
        <button type = "submit" class = "burgersAvailable">
          {{this.burger_name}}
        </button>
      </form>

      {{/unless}}
      {{/each}}

    </div>
  </div>
</main>